$NAMESPACE: simple-menu;

.#{$NAMESPACE} {
  display: flex;
  margin: 0;
  padding: 0;

  &-horizontal {
    flex-direction: row;
  }
  &-vertical {
    flex-direction: column;

    > li > ul {
      top: 0;
      left: 100%;
    }
  }

  ul {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 1;
  }

  li {
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  &-openable > :not(ul):after {
    content: '▼';
    margin: 2px;
    font-size: 0.6em;
    font-weight: bold;

    .#{$NAMESPACE}-vertical > & {
      float: right;
      transform: rotate(-90deg);
    }
  }
  &-opened > ul {
    display: flex;
  }
  &-space,
  &-checkable {
    > :not(ul):before {
      display: inline-block;
      width: 1em;
      content: '　';
    }
  }
  &-checked {
    > :not(ul):before {
      content: '✓';
    }
  }

  a {
    display: block;
    padding: 2px 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    text-decoration: none;
  }
}
